				<!-- Footer -->
				<footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Seven Company 2021</span>
                        </div>
                    </div>
                </footer>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea salir?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Si desea cerrar sesion, haga clic en Salir.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="/login/cerrarSesion">Salir</a>
                    </div>
                </div>
            </div>
        </div>
        {{# usuarioConRol }}
        
        <div class="modal fade" id="delete{{usuario}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea eliminar al usuario {{usuario}}?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Si desea borrarlo, haga clic en Borrar.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                      <form action="/usuarios/procesarFormulario/id={{usuario_id}}" enctype="multipart/form-data" method="post">
                        <input type="submit" value="Borrar" class="btn btn-danger" name="btn-borrar">
                      </form>
                    </div>
                </div>
            </div>
        </div>
        {{/ usuarioConRol }}
        {{# usuarioSinRol}}
            <div class="modal fade" id="rechazar{{usuario}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Desea eliminar al usuario {{usuario}}?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Si desea borrarlo, haga clic en Borrar.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                      <form action="/usuarios/procesarFormulario/id={{usuario_id}}" enctype="multipart/form-data" method="post">
                        <input type="submit" value="Rechazar" class="btn btn-danger" name="btn-rechazar">
                      </form>
                    </div>
                </div>
            </div>
        </div>
        {{/ usuarioSinRol }}
        <!-- Bootstrap core JavaScript-->
        <script type="text/javascript" src="/view/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/view/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script type="text/javascript" src="/view/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script type="text/javascript" src="/view/js/sb-admin-2.min.js"></script>

	</body>

</html>